<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameXplore | <%= gametitle%></title>
    <link rel="stylesheet" href="/veiws/abgame.css">
    <link rel="stylesheet" href="/veiws/nav.css">
    <link rel="stylesheet" href="/veiws/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ee7a97f43f.js" crossorigin="anonymous"></script>
    <script>
        const html = document.getElementById("gamedeck");
        html.innerHTML = html.innerHTML.replace("&amp;",/&/g).replace("&lt;",/</g).replace( "&gt;",/>/g);
    </script>
</head>

<%- include("partials/nav"); -%>
<div class="Container">
    <h1 class="name"> <%= gametitle %> </h1>
    <div class="main-content"> 
        <div class="basicsection">
            <div class="img-section">
                <img src="<%= gamemainimage %>">
            </div>
            <div class="content">
                <div class="Discrip">
                    <h3>Game Discription</h3>
                    <p> <%= gamedisp %> </p>
                </div>
                <div class="rating">
                    <div>Rating :</div>
                    <div><%= gamerate %></div>
                </div>
                <!-- <div class="down">
                    <button class="dold"> Download</button>
                </div> -->
            </div>
        </div>
        <div class="Themesection">
            <h1>Game Themes</h1>
            <div class="gametheme">
                <% theme.forEach(item=>{ %>
                <div class="div" id="gamedeck"> 
                   <h2><%= item.name %> </h2>
                   <a href="<%= item.url%>" target="_blank"><button> Try Now</button></a>
                </div>
            <%   });  %>
        </div>
        </div>

        <div class="download">
            <h2>Download Section</h2>
            <div class="allDownlink">
                <% download.forEach(item=>{ %>
                    <div class="downbox">
                        <a href="<%= item.url%>" target="_blank"><button> Download</button></a>
                    </div>
                <%   });  %>
            </div>
        </div>

        <div class="similargame">
            <h1>Similar game:</h1>
            <% similar_games.forEach(item=>{ %>
              <div class="allSimilar"> 
                <div class="simi">
                    <h4> <%= item.name %> </h4>
                </div>
                </div>
                <%   });  %>
            
        </div>
        <div class="company">
            <h1>Involved Company</h1>
            <div class="allcompany">
            <% company.forEach(item=>{ %>
                
                <div class="com">
                    <h4> <%= item.company.name %> </h4>
                </div>
                <%   });  %>
            </div>
            
        </div>
        
    </div>
</div>

<%- include("partials/footer"); -%>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="/veiws/main.js"></script>

</body>
</html>