<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameXplore | <%= gametitle%></title>
    <link rel="stylesheet" href="/veiws/abgame.css">
    <link rel="stylesheet" href="/veiws/nav.css">
    <link rel="stylesheet" href="/veiws/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ee7a97f43f.js" crossorigin="anonymous"></script>
    <script>
        const html = document.getElementById("gamedeck");
        html.innerHTML = html.innerHTML.replace("&amp;",/&/g).replace("&lt;",/</g).replace( "&gt;",/>/g);
    </script>
</head>

<%- include("partials/nav"); -%>
<div class="Container">
    <h1 class="name"> <%= gametitle %> </h1>
    <div class="main-content">
        <div class="basicsection">
            <div class="img-section">
                <img src="<%= gamemainimage %>">
            </div>
            <div class="content">
                <div class="rating">
                    <div>Release date:</div>
                    <div><%= gamerelease %></div>
                </div>
                <div class="Discrip">
                    <h2> <%= gamedeck %></h2>
                </div>
                <div class="down">
                    <button class="dold"> Download</button>
                </div>
            </div>
        </div>
        <div class="secondsection">
            <div class="gamedetail">
                <div class="div" id="gamedeck"> 
                   <%= gamedisp %> 
                </div>
            </div>
        </div>
        <div class="similargame">
            <h1>Similar game:</h1>
            <div class="simi">
                <h2> <%= gamesimilar %> </h2>
                <button class="btn"><a href=" <%= gamesemiurl %> ">TRY NOW</a></button>
            </div>
        </div>
        
    </div>
</div>

<%- include("partials/footer"); -%>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="/veiws/main.js"></script>

</body>
</html>