<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameXplore | Home</title>
    <link rel="stylesheet" href="/veiws/main.css" />
    <link rel="stylesheet" href="/veiws/nav.css" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?Yeon=sung" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/ee7a97f43f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("partials/nav"); -%>

    <div class="slideshow-container">
      <div class="searchbar">
        <form method="post" action="/search/game">
          <input
            type="search"
            placeholder="Search Game here...  "
            name="gamen"
            autocomplete="off"
          />
        </form>
        <!-- <div class="suggest" style="text-align: left">
          <a class="">88 branding projects</a>
          <div class="suggest-part">
            <div class="">
              <img src="/static/ads.jpg" class="" />
            </div>
            <div class="">
              <span class="mb-2">Fixed</span>
            </div>
          </div>
          <div class="suggest-part">
            <div class="">
              <img src="/static/ads.jpg" class="" />
            </div>
            <div class="">
              <span class="mb-2">Hourly</span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <!-- <div class="searchbar"><input type="search" placeholder="Search..">  </div> -->
        <img src="/static/slide2.jpg" style="width: 100%; height: 450px" />
        <div class="text">GX Business: Casino</div>
      </div>

      <div class="mySlides fade">
        <!-- <div class="numbertext">Get a FC24 when you <br>Pre-Order GX SPORTS<br> FC™ 24 Ultimate Edition by 31 Aug</div> -->
        <img src="/static/slide3.jpg" style="width: 100%; height: 450px" />
        <div class="text">FC24</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/static/slide4.jpg" style="width: 100%; height: 450px" />
        <div class="text">Real Madrid GF</div>
      </div>
    </div>

    <!--   Video play -->
    <div class="top-games">
      <div class="top-game">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/<%= gameyou0 %>?autoplay=1&mute=1"
        >
        </iframe>
        <a href="<%= gameweb0 %>">
          <div class="top-gamename"><%= gameName0 %></div></a
        >
      </div>
      <div class="top-game">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/<%= gameyou1 %>?autoplay=1&mute=1"
        >
        </iframe>
        <a href="<%= gameweb1 %>">
          <div class="top-gamename"><%= gameName1 %></div></a
        >
      </div>
      <div class="top-game">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/<%= gameyou2 %>?autoplay=1&mute=1"
        >
        </iframe>
        <a href="<%= gameweb2 %>">
          <div class="top-gamename"><%= gameName2 %></div></a
        >
      </div>
      <!-- <div class="top-game">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/<%= gameyou2 %>?autoplay=1&mute=1"
        >
        </iframe>
        <a href="<%= gameweb2 %>">
          <div class="top-gamename"><%= gameName2 %></div></a
        >
      </div> -->
    </div>
    <!-- <div class="container_layer">
        <div class="homeAds">
            <div class="numbertext">World Championship<br> 2023</div>
            <img src="/static/ads.jpg" style="width:1200px;height:200px;">
            <div class="text">Caption Three</div>
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="layer layer3"></div>
        <div class="layer layer4"></div>
        <div class="layer layer5"></div>
        <div class="layer layer6"></div>
        <div class="layerR layer1"></div>
        <div class="layerR layer2"></div>
        <div class="layerR layer3"></div>
        <div class="layerR layer4"></div>
        <div class="layerR layer5"></div>
        <div class="layerR layer6"></div>
    </div> -->
    <div class="join">
      <div class="gameName">
        <img src="/static/5309fe6da8594cc0b790de80852fd5d1.png" />
        <div>Play</div>
      </div>
      <div class="join_content">
        Don’t just get the game. Get more from your game. Unlock<br />
        exclusive rewards, members-only content, and a library of top<br />
        titles.
      </div>
      <button>Join Now</button>
    </div>
    <%- include("partials/footer"); -%>
    <!-- <footer>
        <div class="first_footer">
            <div class="first_footer_1">
                <a href="#" title="Careers">Careers</a>
                <a href="#" title="Executives">Executives</a>
                <a href="#" title="Impact Report">Impact Report</a>
                <a href="#" title="Our Commitments">Our Commitments</a>
                <a href="#" title="Patrners With Us">Patrners With Us</a>
            </div>
            <div class="first_footer_2">
                <h2>Join The Conversation</h2>
                <div class="first_footer_icon">
                    <a href="#" target="_blank"><img src="/static/facebook.svg" alt="Facebook" title="Facebook"></a>
                    <a href="#" target="_blank"><img src="/static/instagram.svg" alt="Instagram" title="Instagram"></a>
                    <a href="#" target="_blank"><img src="/static/twitter.svg" alt="Twitter" title="Twitter"></a>
                    <a href="#" target="_blank"><img src="/static/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
                    <a href="#" target="_blank"><img src="/static/threads.svg" alt="Threads" title="Threads"></a>
                    <a href="#" target="_blank"><img src="/static/youtube.svg" alt="Youtube" title="Youtube"></a>
                </div>
            </div>
        </div>
        <div class="second_footer">
            <div class="second_footer_1">
                <div class="second_footer_1_group">
                    <div class="second_footer_1_heading">Browse</div>
                    <ul>
                        <li><a href="#">GX consoles</a></li>
                        <li><a href="#">GX games</a></li>
                        <li><a href="#">GX Game Pass</a></li>
                        <li><a href="#">GX accessories</a></li>
                    </ul>
                </div>
                <div class="second_footer_1_group">
                    <div class="second_footer_1_heading">Resources</div>
                    <ul>
                        <li><a href="#">GX Support</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Community Standards</a></li>
                        <li><a href="#">Photosensitive Seizure Warning</a></li>
                    </ul>
                </div><div class="second_footer_1_group">
                    <div class="second_footer_1_heading">For Developers</div>
                    <ul>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">ID@GX</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Creators Program</a></li>
                    </ul>
                </div>
            </div>
            <div class="second_footer_2">
                <a href="#">
                    <img src="/static/5309fe6da8594cc0b790de80852fd5d1.png">
                </a>
            </div>
        </div>
        <div class="third_footer">
            <a href="#" title="Careers">Privacy & Cookies</a>
            <a href="#" title="Executives">Terms of use</a>
            <a href="#" title="Impact Report"> Third Party Notices</a>
            <a href="#" title="Our Commitments">User Agreement</a>
            <a href="#" title="Our Commitments">Security</a>
            <a href="#" title="Patrners With Us"><img src="/static/copyright-regular.svg"  alt="Copyrights">GameXplore2023</a>
        </div>
    </footer> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/veiws/main.js"></script>
    <script>
      window.embeddedChatbotConfig = {
        chatbotId: "eah3OanU0L-PDtkw9Fq_B",
        domain: "www.chatbase.co",
      };
    </script>
    <script
      src="https://www.chatbase.co/embed.min.js"
      chatbotId="eah3OanU0L-PDtkw9Fq_B"
      domain="www.chatbase.co"
      defer
    ></script>
  </body>
</html>
