<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameXplore | Profile</title>
    <link rel="stylesheet" href="/veiws/nav.css">
    <link rel="stylesheet" href="/veiws/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript">
        function submitForm() {
            var dateOfBirth = document.getElementById("dateOfBirth").value;
            if (!dateOfBirth) {
                alert("Please enter your date of birth.");
                return false;
            } 
            return true;
        }
    </script>
</head>
<body>
    <%- include("partials/nav"); -%>

    <div class="containe">
        <div class="boxes">
            <div class="profilePicture mt-4"><img src="/static/<%= user.profilePicture %>" ></div>
            <div class="name"> <%= user.username %> </div>
            <div class="btn">
                <div class="deldiv">
                    <button class="delbtn">
                        <a href="/user/avatar/<%= user._id %>">Edit Avatar</a>
                    </button>
                </div>
                <div class="deldiv mt-4">
                    <button class="delbtn">
                        <a href="#">Subscription</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="boxes">
            <div class="email mt-4">
                <div class="label">Email: </div><div class="emailinfo"><%= user.email %></div>
            </div>
            <div class="email mt-4">
                <div class="label">Date of birth: </div><div class="emailinfo" >
                    <% if(user.dob=="dd/mm/yy"){ %>
                        <form method="post" action="/user/dob/<%= user._id %>" onsubmit="return submitForm()">
                            <input type="date" id="dateOfBirth" name="dateOfBirth">
                            <input type="submit" value="Submit" class="sub">
                        </form> 
                    <% }else { %>
                    <%= user.dob %>
                    <% } %>
                </div>
            </div>
            <div class="friends">
                <button class="added">Add Friends</button>
            </div>
            <div class="share">
                <button class="added">Share Profile</button>
            </div>
            <div class="deldiv">
                <button class="delbtn">
                    <a href="/user/avatar/<%= user._id %>">Edit Profile</a>
                </button>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>